@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap'); 


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: lightgray;
}

p {
    font-size: 14px;
    line-height: 20px;
}

main {
    width: 100%;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.418);
    overflow: hidden;
}

header {
    background-image: url(../imagens/glass-logo-peq.jpg);
    background-repeat: no-repeat;
    background-position-y: 80px;
    background-position-x: 5px;
    background-size: 130px;
    display: block;
}

header .gg {
    padding: 10px;
    height: 120px;
}

header .gg h1 {
    color: rgb(102, 102, 102);
    margin-bottom: 5px;
    font-family: 'Cabin', sem serifa;
    font-size: 35px;
}

header .gg p {
    color: rgb(143, 143, 143);
}

/***** Configuação do menu ****/

#burguer {
    display: block;
    background-color: rgb(102, 102, 102);
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid white;
    padding: 8px;
    color: white;
    font-size: 25px;
}

menu#navbar {
    display: none;
}

menu#navbar ul {
    list-style-type: none; 
}

li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    background-color: rgb(102, 102, 102);
    border-bottom: 2px solid white;
    color: white;
}

li a:hover {
    background-color: rgb(66, 66, 66);
    transition: .8s;
}

/**** Configuração da Section ****/

section {
    margin-top: 5px;
    padding: 10px;
}

section p {
    text-align: justify;
    text-indent: 15px;
    padding: 5px;
}

section h3 {
    background-color: lightgray;
    color: rgb(66, 66, 66);
    padding: 5px;
    margin: 10px 0 10px 0;
    font-size: 17px;
}

section .cabeça h1{
    color: rgb(66, 66, 66);
    margin: 10px 0 3px 0;
    font-family: 'Cabin', sem serifa;
    font-size: 20px;
}

section .cabeça p {
    display: block;
    position: relative;
    color: rgb(143, 143, 143);
    font-size: 12px;
}

section .cabeça .pe {
    display: block;
    position: relative;
    left: -15px;
    padding: 0px;
}

section .cabeça .atualizacao {
    display: block;
    text-align: right;
    font-size: 10px;
    margin-top: 10px;
    top: 15px;
}

section figure {
    position: relative;
    border: 4px solid white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.404);
    margin-top: 10px;
}

section figure img {
    width: 100%;
    height: 100%;
}

section figure figcaption {
    opacity: 1;
    width: 100%;
    height: 98%;
    color: white;
    background-color: rgba(0, 0, 0, 0.404);
    position: absolute;
    top: 0px;
    padding: 10px;
    transition: 1s;
}

section figure figcaption:hover {
    opacity: 1;
}

section .video1 {
    margin-top: 10px;
}

/**** Configuação da Tabela ****/

table {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(102, 102, 102);
    border-spacing: 0;
    background-color: rgb(102, 102, 102);
    color: white;
    margin: 10px 0px 10px 0px;
}

table caption {
    position: relative;
    color: rgb(143, 143, 143);
    font-weight: bold;
    font-size: 14px;
    top: 7px;  
    margin-bottom: 2px;
}

table span {
    position: relative;
    display: block;
    text-align: right;
    font-size: 8px;
    top: -4px;
    padding-right: 5px;
}

table td {
    border: 1px solid rgb(102, 102, 102);
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}

table tr .direita {
    background-color: lightgray;
    color: black;
    font-weight: normal;
}

/**** Configuação do Aside ****/

aside { 
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: lightgray;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.356);
    border-radius: 4px;
}

aside p {
    text-align: justify;
    text-indent: 15px;
    margin-bottom: 10px;
    padding: 5px;
}

aside h2 {
    font-family: 'Cabin', sem serifa;
    font-weight: bold;
    font-size: 25px;
    color: rgb(66, 66, 66);
    margin-bottom: 20px;
}

aside h3 {
    background-color: lightgray;
    color: white;
    padding: 9px;
    font-size: 15px;
    background-color: rgb(66, 66, 66);
}

aside .nov {
    margin-top: 10px;
    margin-bottom: 10px;
}

/**** Confiaguação do Footer ****/

footer {
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
    font-size: 13px;
}

footer a {
    text-decoration: none;
    color: rgb(102, 102, 102);
}

footer a:hover {
    text-decoration: underline;
}

