/**** Formatação Geral ****/

fieldset {
    margin-bottom: 10px;
    padding: 10px;
    border-color: rgba(143, 143, 143, 0.5);
}

input {
    margin: 5px;
    padding: 5px;
    font-size: 15px;
}

legend {
    font-weight: bold;
    color: rgb(143, 143, 143);
}

/* Formatação da identificação*/

fieldset #fsexo {
    height: 90px;
    width: 150px;
}

/* Formatação da Mensagem */

#mensagem {
    padding: 5px;
    border-color: rgba(143, 143, 143, 0.801);
}

/* Formatação do Pedido */

input#cor {
    margin-top: 10px;
}

/* Fomatação do Botão*/

#botao {
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    margin: 0px;
    size: 30px;
    border: none;
    background-color: rgb(66, 66, 66);
    color: white;
}

#botao:hover {
    cursor: pointer;
    border: none;
    background-color: rgb(143, 143, 143);
    color: black;
}

