/* Configuação Geral */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding: 10px;
    text-align: justify;
    text-indent: 15px;
    font-size: 13px;
    line-height: 20px;
}

article {
    margin-bottom: 100px;
}

article h3 {
    padding-left: 2px;
}

header h2 {
    background-color: rgb(143, 143, 143);
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 0px 10px 0px 10px;
}

header h3 {
    color: rgb(143, 143, 143);
    font-weight: bold;
    font-size: 15px;
    text-indent: 0px;
    margin: 10px;
}

/* Configuração da tela */

#tela p {
    padding: 15px;
}

#tela img {
    width: 100%;
    padding: 10px;
}

/* Configuração da camera */

#camera header {
    display: block;
}

#camera p {
    width: 58%;
    text-align: justify;
}

#camera img {
    display: block;
    float: right;
    margin-right: 10px;
    width: 40%;
    margin-top: 10px;
}

/* Configuração do sensores */

#sensores p {
    padding: 15px;
}

#sensores img {
    width: 100%;
    padding: 10px;
}

/* Configuração da bateria */

#bateria {
    padding-bottom: 200px;
}

#bateria p {
    display: block;
    float: left;
    width: 53%;
}

#bateria img {
    display: block;
    float: right;
    margin-right: 10px;
}





