article img {
    padding: 10px;
    width: 100%;
}

#conteudo h3 {
    font-size: 15px;
    padding-left: 10px;
    color: rgb(143, 143, 143);
    background-color: white;
}

div.cabeça p.atualizacao-specs {
    display: block;
    text-align: right;
    font-size: 10px;
    margin-top: 10px;
    top: 30px;
}